@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-slate-100;
  }
}
